.container {
    width: 300px !important;
    border: #FCDA98;
    border-style: dashed;
    padding: 0 20px 20px !important;
}

.survey {
    color: #5F5958;
}

.text-which-paymethod {
    font-weight: bold;
}

.send-btn {
    width: 90px;
    height: 40px;
    background-color: #F9F9F9;
    border-radius: 4px;
    border: 2px solid #ECECEC;
}

.all-surveys {
    color: #000;
    position: relative;
    left: 50px;
}